@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
.back{
  background:url('./image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }
.merlin{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
